/*///////// GLOBAL /////////*/

/*///////// BACKGROUND /////////*/

/*///////// MEDIA /////////*/

img, video, audio, iframe, table, form {
  width: 100%; /* IE */
  max-width: 100%; /* FF, Safari, Chrome */
}

/*///////// MEDIA /////////*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

/*///////// LAYOUT /////////*/

#header {
  width: 960px;
  margin: 0 auto;
}

#title {
  float: left;
  width: 25%;
}

#navbar {
  float: left;
  width: 75%;
}

/*///////// HEADER /////////*/

header {
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  border-bottom: 1px solid #ccc;
}

#navbar .links a {
  display: inline-block;
  width: 13.333%;
  margin: 0;
  padding: 5px 0;
  color: black;
  text-align: center;
  text-decoration: none;
  font: 0.75em sans-serif;
}

#navbar .links a.selected {
  background: #333;
  color: white;
}

#navbar .links a:hover {
  background: #333;
  color: white;
}


/*///////// FOOTER /////////*/


/*///////// MAIN LAYOUT /////////*/
